<div id="<%= dom_id todo %>">
  <p>
    <strong>Title:</strong>
    <%= todo.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <div class="trix-content">
      <%=  todo.description %>
    </div>
  </p>

</div>
